<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
   
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2>{{ firstname | firstLetterUppercase }}</h2>
  <h3>{{ lastname | firstLetterUppercase }}</h3>

  <p>
    <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum quidem provident laboriosam deleniti totam quia mollitia, nemo quo repellat eaque cupiditate. Voluptas alias, quo dolores dolorum eaque fugiat magnam assumenda.</span>
    <span>Earum cumque, mollitia est natus necessitatibus qui reprehenderit magnam soluta, harum excepturi maiores aliquam nostrum perferendis facere quis! Deserunt quasi sunt laboriosam, asperiores libero exercitationem ea aliquam qui voluptatem incidunt.</span>
    <span>Possimus nulla enim commodi deleniti! Alias, accusantium. Amet veniam ratione praesentium illo rerum laudantium delectus iure nihil! Nisi dolorum quam voluptas maiores modi. Aliquam corrupti velit accusantium deserunt, ut cumque.</span>
    <span>Quasi hic dolor fuga consequuntur harum quisquam cum doloribus voluptatem accusamus labore eligendi aut, dolorem, quae vitae. Voluptatibus eos deserunt sunt perspiciatis, quaerat, iure omnis repellat, porro et ab quia?</span>
  </p>
</ion-content>
