<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Nouveau Compte</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content no-bounce padding>
  
    <ion-row class="app-icon-container">
      <ion-col text-center>
        <ion-icon name="ionic" class="app-icon-zoom"></ion-icon>
      </ion-col>
    </ion-row>
  
    <form [formGroup]="credentialsForm">
      
      <ion-item>
          <ion-label floating>Nom</ion-label>
          <ion-input [formControl]="credentialsForm.controls['lastname']"
              type="lastname"></ion-input>
      </ion-item>

      <div *ngIf="!credentialsForm.controls.lastname.valid &&
          credentialsForm.controls.lastname.dirty"
          class="validator-error">
        Votre Nom est manquant.
      </div>

      <ion-item>
          <ion-label floating>Prénom</ion-label>
          <ion-input [formControl]="credentialsForm.controls['firstname']"
              type="firstname"></ion-input>
      </ion-item>

      <div *ngIf="!credentialsForm.controls.firstname.valid &&
          credentialsForm.controls.firstname.dirty"
          class="validator-error">
        Votre Prénom est manquant.
      </div>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input [formControl]="credentialsForm.controls['email']"
            type="email"></ion-input>
      </ion-item>
  
      <div *ngIf="!credentialsForm.controls.email.valid &&
          credentialsForm.controls.email.dirty"
          class="validator-error">
        L' Email saisi n'est pas valide.
      </div>
  
      <ion-item>
        <ion-label floating>Mot de passe</ion-label>
        <ion-input [formControl]="credentialsForm.controls['password']"
            type="password"></ion-input>
      </ion-item>
  
      <div *ngIf="!credentialsForm.controls.password.valid &&
          credentialsForm.controls.password.dirty"
          class="validator-error">
        Le mot de passe n'est pas valide.
      </div>
      <div *ngIf="credentialsForm.controls.password.hasError('pattern')">
          Passwords should be at least 8 characters long and contain one number,
          one character and one special character.
        </div>
  
      <ion-row class="sign-in-button-container">
        <ion-col text-center>
          <button ion-button block color="secondary"
              [disabled]="!credentialsForm.valid" (click)="onSignUp()">
            S'inscrire
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col text-center>      
            <button ion-button clear color="secondary" (click)="login()">
              Déjà un compte ?
            </button>
          </ion-col>
        
        </ion-row>
  
    </form>

    <ion-row>
        <ion-col text-center>
          <h6>Connection via réseaux</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-fab center>
          <button ion-fab color="primary"><ion-icon name="ionic"></ion-icon></button>
          <ion-fab-list side="bottom">
            <button ion-fab color="secondary"><ion-icon name="logo-facebook"></ion-icon></button>
          </ion-fab-list>
          <ion-fab-list side="left">
            <button ion-fab color="light"><ion-icon name="logo-googleplus"></ion-icon></button>
          </ion-fab-list>
          <ion-fab-list side="right">
            <button ion-fab color="dark"><ion-icon name="logo-twitter"></ion-icon></button>
          </ion-fab-list>
        </ion-fab>
      </ion-row>
  
  </ion-content>

