<!--
  Generated template for the SignInPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Connexion</ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content no-bounce padding>
  
    <form [formGroup]="credentialsForm" class="form">

      <ion-title>Connexion</ion-title>
  
      <ion-item>
        <ion-label floating> <ion-icon name="mail"></ion-icon> Email</ion-label>
        <ion-input [formControl]="credentialsForm.controls['email']"
            type="email"></ion-input>
      </ion-item>
  
      <div padding style="color:red" *ngIf="!credentialsForm.controls.email.valid &&
          credentialsForm.controls.email.dirty"
          class="validator-error">
        L' Email saisi n'est pas valide.
      </div>
  
      <ion-item>
        <ion-label floating> <ion-icon name="lock"></ion-icon> Mot de passe</ion-label>
        <ion-input [formControl]="credentialsForm.controls['password']"
            type="password"></ion-input>
      </ion-item>
  
      <div padding style="color:red" *ngIf="!credentialsForm.controls.password.valid &&
          credentialsForm.controls.password.dirty"
          class="validator-error">
        Le mot de passe n'est pas valide.
      </div>
      <div padding style="color:red" *ngIf="credentialsForm.controls.password.hasError('pattern')">
          Le mot de passe doit contenir une lettre, un nombre, un caractère spécial
          et doit contenir minimum 8 caractères.
        </div>
  
      <ion-row class="sign-in-button-container">
        <ion-col text-center>
          <button ion-button block color="secondary"
              [disabled]="!credentialsForm.valid" (click)="onSignIn()">
            Se connecter
          </button>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col col-6 text-center>
          <button ion-button clear color="danger" (click)="onForgotPassword()">
            Mot de passe oublié ?
          </button>
        </ion-col>
        <ion-col col-6 text-center>      
          <button ion-button clear color="secondary" (click)="signup()">
            Créer un compte ?
          </button>
        </ion-col>
      
      </ion-row>
  
    </form>

    <ion-row>
      <ion-col text-center>
        <h6>Connection via réseaux</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-fab center>
        <button ion-fab color="primary"><ion-icon name="ionic"></ion-icon></button>
        <ion-fab-list side="bottom">
          <button ion-fab color="secondary"><ion-icon name="logo-facebook"></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="left">
          <button ion-fab color="light"><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="right">
          <button ion-fab color="dark"><ion-icon name="logo-twitter"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    </ion-row>
  
  </ion-content>
