<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-content *ngIf="cartProvider.totalcart === 0">
      Votre panier est vide !
    </ion-card-content>
    <ion-list no-lines>
      <ion-item *ngFor="let product of this.cartProvider.productsInCart;">
        <ion-avatar item-left>
          <img src="{{product.image}}">
        </ion-avatar>
        <h2>{{product.name}} <b>x {{product.quantity}}</b></h2>
        <div float-right>{{product.price * product.quantity | currency:"EUR":true:"1.2"}}</div>


        <div>
          <button ion-button>
            <ion-icon name="add" (click)="cartProvider.increment(product)"></ion-icon>
          </button>
          <button ion-button>
            <ion-icon name="remove" (click)="cartProvider.decrement(product)"></ion-icon>
          </button>
          <button ion-button color="danger">
            <ion-icon name="md-trash" (click)="cartProvider.deletePrompt(product)"></ion-icon>
          </button>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-card>
    <ion-card-content *ngIf="cartProvider.totalprice  > 0">
      <h2 text-center><b>Total de votre commande : {{cartProvider.totalprice | currency:"EUR":true:"1.2"}}</b></h2>
    </ion-card-content>
    <ion-card-content>
      <button ion-button full (click)="proceedToCheckout()" [disabled]="0 === cartProvider.totalcart">Payer</button>
    </ion-card-content>
  </ion-card>
</ion-footer>