<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<!-- <ion-content>

   
  <button ion-button (click)="showPrompt()">Infos</button>
  
  The world is your oyster.
  <button ion-button secondary menuToggle>Menu</button>
</ion-content> -->

<ion-content class="card-background-page">

    <button (click)="gotoproduct()">

    <ion-card>
      <img src="https://img.static-smb.be/a/view/q75/w720/h480/1956686/mcdo-png.png"/>
      <div class="card-title">Produits</div>
    </ion-card>
  </button>

  

    <ion-card>
      <img src="https://static-pepper.dealabs.com/merchants/merchant_content/content/31_1.png"/>
      <div class="card-title">Menu</div>
    </ion-card>
  
  </ion-content>
