<script src="http://maps.google.com/maps/api/js?key=?????"></script>
<script src="cordova.js"></script>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{this.titleMenu}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only menuClose (click)="showCart()">
          <ion-badge *ngIf="cartProvider.totalcart">{{cartProvider.totalcart}}</ion-badge>
          <ion-icon name="cart"></ion-icon>
      </button>
      <button ion-button icon-only menuClose (click)="locationProvider.getLocation()">
        <ion-icon name="ios-locate-outline"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>



</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>PizzaApp</ion-title>
    </ion-toolbar>
    <ion-card text-center class="hide-card">
      <ion-avatar>
        <img src="https://media.licdn.com/dms/image/C5603AQGCCCzXwSrZGA/profile-displayphoto-shrink_200_200/0?e=1544054400&v=beta&t=Q6hONR5lkI8GIjuY4oeg0TKQ3IbnHGhUk9ui1MAYlqk">
      </ion-avatar>
        <h2>Bienvenue Virgil</h2>
        <hr>
    </ion-card>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="p.fn ? p.fn() : openPage(p)">
        {{p.title}}
        <ion-icon [name]="p.icon" item-left></ion-icon>
      </button>
      <button menuClose ion-button (click)="showPrompt()">Se connecter</button>
      
      <button *ngIf="status" menuClose ion-button block round (click)="signup()">S'inscrire</button>
      <button *ngIf="status" menuClose ion-button block round (click)="login()">Se connecter</button>
    </ion-list>
  </ion-content>

</ion-menu>

   
  <!-- <ion-content>
    <div #map id="map"></div> 
  </ion-content> --> -->



<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
