<!--
  Generated template for the ProduitsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  
  </ion-navbar>
</ion-header>


<ion-content class="cards-bg">
  <ion-toolbar>
    <ion-segment [(ngModel)]="categories">
      <ion-segment-button *ngFor="let categorie of categories" value="{{categorie.id}}" (ionSelect)="onSegmentChanged($event)">
        {{categorie.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-searchbar [(ngModel)]="terms"></ion-searchbar>

  <ion-card *ngFor="let product of products | search : terms">
    <img src="{{ product.image }}">
    <ion-card-content>
      <ion-card-title>
        {{product.name}}
      </ion-card-title>
      <ion-col>
        <div>
          <div float-right>{{product.price | currency:"EUR":true:"1.2":"fr"}}</div>
        </div>
      </ion-col>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="primary" icon-start>
          <ion-icon name='ios-information-circle'></ion-icon>
          Détails
        </button>
      </ion-col>
      <ion-col text-right>
        <button (click)="cartProvider.addToCart(product)" ion-button clear small color="primary" icon-start>
          <ion-icon name='ios-cart'></ion-icon>
          Ajouter au panier
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>