<!--
  Generated template for the MenusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>menus</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card *ngFor="let menu of menus | search : terms">
        <img src="{{ menu.image }}">
        <ion-card-content>
          <ion-card-title>
            {{menu.name}}
            {{menu.description}}
          </ion-card-title>
          <ion-col>
            <div>
              <div float-right>{{menu.price | currency:"EUR":true:"1.2":"fr"}}</div>
            </div>
          </ion-col>
        </ion-card-content>
        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small color="primary" icon-start>
              <ion-icon name='ios-information-circle'></ion-icon>
              Détails
            </button>
          </ion-col>
          <ion-col text-right>
            <button (click)="cartProvider.addToCart(menu)" ion-button clear small color="primary" icon-start>
              <ion-icon name='ios-cart'></ion-icon>
              Ajouter au panier
            </button>
          </ion-col>
        </ion-row>
      </ion-card>

</ion-content>
